.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
.app {
    display: flex;
}
  
  .mid-line {
      display: flex;
  }
  
  .board-piece {
      width:  50px;
      height: 50px;
      border-radius: 5px;
      border: solid;
      border-width: 3px;
      text-align: center;
  }
  
  .board-piece.true {
      background: yellow;
  }
  
  .board-piece-info {
      border: solid;
      width: 152px;
      margin: 5px;
      border-radius: 5px;
      text-align: center;
      position: relative;
  }
  
  .full-line {
      display: flex;
  }
  
  .three-line {
  
  }
  
  .blank-line {
    width: 168px;
  }
  
  .dice {
    margin: 7px 55px 0 55px;
    background: white;
  }
  
  .board-piece-purchase {
    display: flex;
  }
  
  .purchase-btn {
    border: solid;
    border-radius: 3px;
    font-size: 12px;
    width: 60px;
    height: 28px;
    text-align: center;
    border-width: 3px;
    margin: 5px;
    padding: 3px;
    border-color: darkgoldenrod;
    background: darkkhaki;
    font-family: monospace;
    font-weight: bold;
}

.purchase-btn.false {
    background: darkgoldenrod;
}

img {
    height: 100%;
}

.piece-image {
    height: 25px;
    margin: 5px;
}

.piece-footer {

}

.board-piece-info .piece-info-image {
    height: 100px;
}

.board-piece-info .title {
    padding: 5px 0 5px 0;
    background: lightgray;
}

.board-piece-info .footer {
    position: absolute;
    display: flex;
    bottom: 0;
}

.board-piece-info .footer .visited {
    width: 70px;
    text-align: left;
    padding-left: 5px;
}

.board-piece-info .footer .owned {
    width: 70px;
    text-align: right;
    padding-right: 5px;
}

.board-and-dice {
    
}

.under-board {
    width: 280px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    background: lemonchiffon;
    height: 170px;
}

.purchase-buttons {
    height: 50px;
}

.building-info {
    border: solid;
    border-color: cadetblue;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    background: lightgray;
    font-family: monospace;
    height: 95px;
}

.purchases {
    width: 280px;
    margin: 10px 0 0 20px;
}

.purchase-btn .amount {

}

.purchase-btn .cost {

}

.wallet-and-dice-div {
    border: solid;
    margin: 10px;
    border-radius: 5px;
    height: 110px;
    width: 200px;
    overflow: auto;
    background: gold;
    text-align: -webkit-center;
}

.income-div {
    display: flex;
    padding: 10px 5px 5px 5px;
    border-bottom: solid;
}

.wallet-state {
    flex: 1;
    text-align: center;
}

.income-per-sec {
    flex: 1;
    text-align: center;
}

.achievements-title {
    height: 20px;
    background: dimgray;
    color: cornsilk;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}

.achievements-list {
    height: 132px;
    overflow: auto;
}

.achievements-div {
    border: solid;
    margin: 10px;
    border-radius: 5px;
    height: 152px;
    width: 200px;
    background: olive;
}

.achievements-div .achievement {
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 5px;
    margin: 1px;
}

.achievements-div .achievement.true {
    background: black;
}

.achievements-div .achievement.false {
    background: white;
}


.ach-row {
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: darkkhaki; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgoldenrod; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7d5a02; 
}